USE [DboTicariOtomasyon]
GO
/****** Object:  Table [dbo].[TBL_BANKALAR]    Script Date: 25.04.2022 12:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BANKALAR](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[BANKAADI] [varchar](30) NULL,
	[SUBE] [varchar](30) NULL,
	[IBAN] [varchar](30) NULL,
	[HESAPNO] [varchar](30) NULL,
	[YETKILI] [varchar](30) NULL,
	[TARIH] [smalldatetime] NULL,
	[HESAPTURU] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FATURABILGI]    Script Date: 25.04.2022 12:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FATURABILGI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SERI] [char](1) NULL,
	[SIRANO] [varchar](10) NULL,
	[TARIH] [smalldatetime] NULL,
	[SAAT] [time](7) NULL,
	[VERGIDAIRE] [varchar](40) NULL,
	[ALICI] [varchar](30) NULL,
	[TESLIMEDEN] [varchar](30) NULL,
	[TESLIMALAN] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FATURADETAY]    Script Date: 25.04.2022 12:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FATURADETAY](
	[FATURAURUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](20) NULL,
	[MIKTAR] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TUTAR] [decimal](18, 2) NULL,
	[FATURAID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FIRMALAR]    Script Date: 25.04.2022 12:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FIRMALAR](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[YETKILISTATU] [varchar](30) NULL,
	[YETKILIADSOYAD] [varchar](30) NULL,
	[YETKILITC] [char](11) NULL,
	[SEKTOR] [varchar](15) NULL,
	[TELEFON1] [varchar](15) NULL,
	[TELEFON2] [varchar](15) NULL,
	[TELEFON3] [varchar](15) NULL,
	[MAIL] [varchar](40) NULL,
	[FAX] [varchar](15) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[VERGIDAIRE] [varchar](30) NULL,
	[ADRES] [varchar](100) NULL,
	[OZELKOD1] [varchar](10) NULL,
	[OZELKOD2] [varchar](10) NULL,
	[OZELKOD3] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GIDERLER]    Script Date: 25.04.2022 12:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GIDERLER](
	[GIDERID] [int] IDENTITY(1,1) NOT NULL,
	[ELEKTRIK] [decimal](18, 2) NULL,
	[SU] [decimal](18, 2) NULL,
	[DOGALGAZ] [decimal](18, 2) NULL,
	[INTERNET] [decimal](18, 2) NULL,
	[MAASLAR] [decimal](18, 2) NULL,
	[EKSTRA] [decimal](18, 2) NULL,
	[NOTLAR] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ILCELER]    Script Date: 25.04.2022 12:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ILCELER](
	[ID] [int] NOT NULL,
	[ILCE] [varchar](30) NULL,
	[sehir] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ilceler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ILLER]    Script Date: 25.04.2022 12:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ILLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SEHIR] [varchar](13) NULL,
 CONSTRAINT [PK_iller] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_KODLAR]    Script Date: 25.04.2022 12:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_KODLAR](
	[OZELKOD1] [varchar](100) NULL,
	[OZELKOD2] [varchar](100) NULL,
	[OZELKOD3] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MUSTERILER]    Script Date: 25.04.2022 12:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MUSTERILER](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[SOYAD] [varchar](30) NULL,
	[TELEFON] [varchar](15) NULL,
	[TELEFON2] [varchar](15) NULL,
	[TC] [char](11) NULL,
	[MAIL] [varchar](40) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[ADRES] [varchar](100) NULL,
	[VERGIDAIRE] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NOTLAR]    Script Date: 25.04.2022 12:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NOTLAR](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[NOTTARIH] [smalldatetime] NULL,
	[NOTSAAT] [time](7) NULL,
	[NOTBASLIK] [varchar](50) NULL,
	[NOTDETAY] [varchar](250) NULL,
	[NOTOLUSTURAN] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PERSONELLER]    Script Date: 25.04.2022 12:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PERSONELLER](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[SOYAD] [varchar](15) NULL,
	[TELEFON] [varchar](15) NULL,
	[TC] [char](11) NULL,
	[MAIL] [varchar](40) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[ADRES] [varchar](100) NULL,
	[GOREV] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_STOKLAR]    Script Date: 25.04.2022 12:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STOKLAR](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[STOKTUR] [varchar](20) NULL,
	[STOKADET] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_URUNLER]    Script Date: 25.04.2022 12:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_URUNLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](30) NULL,
	[MARKA] [varchar](20) NULL,
	[MODEL] [varchar](20) NULL,
	[YIL] [char](4) NULL,
	[ADET] [smallint] NULL,
	[ALISFIYAT] [decimal](18, 2) NULL,
	[SATISFIYAT] [decimal](18, 2) NULL,
	[DETAY] [varchar](500) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_FIRMALAR] ON 

INSERT [dbo].[TBL_FIRMALAR] ([ID], [AD], [YETKILISTATU], [YETKILIADSOYAD], [YETKILITC], [SEKTOR], [TELEFON1], [TELEFON2], [TELEFON3], [MAIL], [FAX], [IL], [ILCE], [VERGIDAIRE], [ADRES], [OZELKOD1], [OZELKOD2], [OZELKOD3]) VALUES (1, N'Mavi Yeşil Hastane', N'Satın Alma Müdürü', N'Peri Dedeağa', N'12345678912', N'YAZILIM', N'05071859249', N'05071859475', N'05071859247', N'peri@hotmail.com', N'(3229 144-5566', N'Gaziantep', N'Şahinbey', N'Merkez', N'201Sokak No:18 Daire:20 Atatürk Mahallesi', N'', N'', N'')
INSERT [dbo].[TBL_FIRMALAR] ([ID], [AD], [YETKILISTATU], [YETKILIADSOYAD], [YETKILITC], [SEKTOR], [TELEFON1], [TELEFON2], [TELEFON3], [MAIL], [FAX], [IL], [ILCE], [VERGIDAIRE], [ADRES], [OZELKOD1], [OZELKOD2], [OZELKOD3]) VALUES (2, N'Alperen', N'Yazılım', N'Alperen Koçdeveci', N'14270585518', N'Yazılım', N'05081923459', N'05321234567', N'09872319743', N'alperen@hotmail.com', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_FIRMALAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_ILCELER] ON 

INSERT [dbo].[TBL_ILCELER] ([ID], [ILCE], [sehir]) VALUES (1, N'SEYHAN', 1)
INSERT [dbo].[TBL_ILCELER] ([ID], [ILCE], [sehir]) VALUES (2, N'CEYHAN', 1)
INSERT [dbo].[TBL_ILCELER] ([ID], [ILCE], [sehir]) VALUES (3, N'FEKE', 1)
GO
SET IDENTITY_INSERT [dbo].[TBL_ILCELER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_ILLER] ON 

INSERT [dbo].[TBL_ILLER] ([ID], [SEHIR]) VALUES (1, N'ADANA')
INSERT [dbo].[TBL_ILLER] ([ID], [SEHIR]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[TBL_ILLER] ([ID], [SEHIR]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[TBL_ILLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_MUSTERILER] ON 

INSERT [dbo].[TBL_MUSTERILER] ([ID], [AD], [SOYAD], [TELEFON], [TELEFON2], [TC], [MAIL], [IL], [ILCE], [ADRES], [VERGIDAIRE]) VALUES (3, N'Berkay', N'Fidanasd', N'(123) 123-1231', N'(112) 312-3123', N'12312312312', N'berkay@hotmail.com', N'ADIYAMAN', N'BESNİ', N'Dene', N'Merkez')
SET IDENTITY_INSERT [dbo].[TBL_MUSTERILER] OFF
GO
